@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

::placeholder {
	opacity: 0.8 !important;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	color: #52616b;
	background-color: #c9d6df;
}

label,
.badge {
	font-weight: 500 !important;
}

textarea {
	resize: none;
}

input[type="text"],
input[type="text"]:focus,
input[type="email"],
input[type="email"]:focus,
input[type="password"],
input[type="password"]:focus,
#gender,
#question-title,
#answer,
#type,
.btn-default,
.slider-value {
	color: #52616b !important;
	border: 2px solid #52616b8c;
	background-color: transparent;
}

input[type="radio"] {
	display: none;
}

input[type="search"]:focus,
select[name="users-table_length"]:focus {
	box-shadow: none;
}

.option-container {
	border: 2px solid #5a5c69;
	border-radius: 6px;
}

.opt-label {
	position: relative;
	cursor: pointer;
	padding: 10px 45px;
	height: 100%;
	width: 100%;
}

.opt-label::before {
	content: "";
	position: absolute;
	top: 11px;
	left: 15px;
	height: 20px;
	width: 20px;
	border: 2px solid #5a5c69;
	border-radius: 50%;
}

.opt-label:hover {
	color: whitesmoke;
	background-color: #5a5c69;
}

input[type="radio"]:checked + .opt-label::before,
.option-container:hover .opt-label::before {
	height: 20px;
	width: 20px;
	border: 5px solid whitesmoke;
}

.custom-file-label {
	opacity: 0.8 !important;
	font-weight: 400 !important;
	border: 2px solid #52616b8c;
	background-color: transparent;
}

.slider-value {
	border-radius: 6px;
}

.is-invalid {
	border: 2px solid #e74a3b !important;
}

.modal-content {
	background-color: #ffffffe3;
}

.profile-pict-topbar {
	border: 2px solid #52616b59;
}

.table {
	color: #52616b;
}

.table .table-col,
.table .table-row,
.sidebar-brand-text,
.table-title {
	font-weight: 600;
}

.sidebar-heading,
.collapse-header {
	font-weight: 700 !important;
}

.table tbody tr td,
.table tbody tr th {
	vertical-align: middle;
}

.btn-icon-action span.icon {
	transition: all 0.3s ease;
}

.btn-icon-action:hover span.icon {
	color: #ffffff !important;
}

.card-img {
	max-width: 22vw;
}

.modal-header {
	border-bottom: 1px solid #52616b38;
}

.modal-footer {
	border-top: 1px solid #52616b38;
}

.form-upload input {
	display: none;
}

.form-upload label {
	cursor: pointer;
	display: block;
	width: 100%;
}

.btn-outline {
	border: 2px solid;
	font-weight: 500;
}

.card-exam {
	transform: scale(0.98);
	box-shadow: 0px 0px 8px 5px #52616b11;
	transition: all 0.3s ease;
}

.card-exam:hover {
	box-shadow: 0px 0px 18px 10px #52616b1e;
	transform: scale(1);
}

.nav-box {
	width: 55px;
	height: 55px;
}

.user-image {
	width: 11vmax;
}

#question-nav {
	width: 100%;
	height: 100%;
}

#nav-question-area {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(55px, 1fr));
	justify-content: center;
	gap: 10px;
}

#preview-img {
	width: 15vmax;
}

#profile-img {
	width: 20vmax;
}

#question-img,
.img-container {
	width: 80px;
}

.image-view {
	width: 100%;
}

@media print {
	.sidebar,
	.topbar,
	.footer-page,
	.breadcrumb-result,
	.print-action-area {
		display: none;
	}

	.title-result {
		margin-top: 100px;
	}
}
